header{
    background-color: black;
    color: white;
}

main{
    background-color: blueviolet;
    color: black;
}

aside{
    background-color: white;
    color: black;
}

footer{
    background-color: black;
    color: white;
}
